<div>
    <h2 id="page-heading">
        <span jhiTranslate="monoApp.bandMember.home.title">Band Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-band-member" [routerLink]="['/band-member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="monoApp.bandMember.home.createLabel">
            Create new Band Member
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bandMembers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="monoApp.bandMember.bandusermembers">Bandusermembers</span></th>
            <th><span jhiTranslate="monoApp.bandMember.bandMembers">Band Members</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bandMember of bandMembers ;trackBy: trackId">
                <td><a [routerLink]="['/band-member', bandMember.id, 'view' ]">{{bandMember.id}}</a></td>
                <td>
                    {{bandMember.bandusermembersFirstName}}
                </td>
                <td>
                    <div *ngIf="bandMember.bandMembersId">
                        <a [routerLink]="['../band', bandMember.bandMembersId , 'view' ]" >{{bandMember.bandMembersName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/band-member', bandMember.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/band-member', bandMember.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'band-member', { outlets: { popup: bandMember.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
