<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bandMember">
            <h2><span jhiTranslate="monoApp.bandMember.detail.title">Band Member</span> {{bandMember.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="monoApp.bandMember.bandusermembers">Bandusermembers</span></dt>
                <dd>
                    {{bandMember.bandusermembersFirstName}}
                </dd>
                <dt><span jhiTranslate="monoApp.bandMember.bandMembers">Band Members</span></dt>
                <dd>
                    <div *ngIf="bandMember.bandMembersId">
                        <a [routerLink]="['/band', bandMember.bandMembersId, 'view']">{{bandMember.bandMembersName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/band-member', bandMember.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
