<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-band-member-heading" jhiTranslate="monoApp.bandMember.home.createOrEditLabel">Create or edit a Band Member</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bandMember.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="monoApp.bandMember.bandusermembers" for="field_bandusermembers">Bandusermembers</label>
                    <select class="form-control" id="field_bandusermembers" name="bandusermembers" formControlName="bandusermembersId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="monoApp.bandMember.bandMembers" for="field_bandMembers">Band Members</label>
                    <select class="form-control" id="field_bandMembers" name="bandMembers" formControlName="bandMembersId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bandOption.id" *ngFor="let bandOption of bands; trackBy: trackBandById">{{bandOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
