<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="band">
            <h2><span jhiTranslate="monoApp.band.detail.title">Band</span> {{band.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="monoApp.band.name">Name</span></dt>
                <dd>
                    <span>{{band.name}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.band.video">Video</span></dt>
                <dd>
                    <span>{{band.video}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.band.description">Description</span></dt>
                <dd>
                    <span>{{band.description}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.band.star">Star</span></dt>
                <dd>
                    <span>{{band.star}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.band.categories">Categories</span></dt>
                <dd>
                    <span *ngFor="let categories of band.categories; let last = last">
                        <a [routerLink]="['/category', categories?.id, 'view' ]">{{categories.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="monoApp.band.images">Images</span></dt>
                <dd>
                    <span *ngFor="let images of band.images; let last = last">
                        <a [routerLink]="['/images', images?.id, 'view' ]">{{images.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/band', band.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
