<div>
    <h2 id="page-heading">
        <span jhiTranslate="monoApp.quotation.home.title">Quotations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quotation" [routerLink]="['/quotation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="monoApp.quotation.home.createLabel">
            Create new Quotation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="quotations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="monoApp.quotation.date">Date</span></th>
            <th><span jhiTranslate="monoApp.quotation.name">Name</span></th>
            <th><span jhiTranslate="monoApp.quotation.lastName">Last Name</span></th>
            <th><span jhiTranslate="monoApp.quotation.address">Address</span></th>
            <th><span jhiTranslate="monoApp.quotation.phone">Phone</span></th>
            <th><span jhiTranslate="monoApp.quotation.email">Email</span></th>
            <th><span jhiTranslate="monoApp.quotation.observation">Observation</span></th>
            <th><span jhiTranslate="monoApp.quotation.userQuotation">User Quotation</span></th>
            <th><span jhiTranslate="monoApp.quotation.bandQuotations">Band Quotations</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotation of quotations ;trackBy: trackId">
                <td><a [routerLink]="['/quotation', quotation.id, 'view' ]">{{quotation.id}}</a></td>
                <td>{{quotation.date | date:'medium'}}</td>
                <td>{{quotation.name}}</td>
                <td>{{quotation.lastName}}</td>
                <td>{{quotation.address}}</td>
                <td>{{quotation.phone}}</td>
                <td>{{quotation.email}}</td>
                <td>{{quotation.observation}}</td>
                <td>
                    {{quotation.userQuotationFirstName}}
                </td>
                <td>
                    <div *ngIf="quotation.bandQuotationsId">
                        <a [routerLink]="['../band', quotation.bandQuotationsId , 'view' ]" >{{quotation.bandQuotationsName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/quotation', quotation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quotation', quotation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'quotation', { outlets: { popup: quotation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
