<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quotation">
            <h2><span jhiTranslate="monoApp.quotation.detail.title">Quotation</span> {{quotation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="monoApp.quotation.date">Date</span></dt>
                <dd>
                    <span>{{quotation.date}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.name">Name</span></dt>
                <dd>
                    <span>{{quotation.name}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.lastName">Last Name</span></dt>
                <dd>
                    <span>{{quotation.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.address">Address</span></dt>
                <dd>
                    <span>{{quotation.address}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.phone">Phone</span></dt>
                <dd>
                    <span>{{quotation.phone}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.email">Email</span></dt>
                <dd>
                    <span>{{quotation.email}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.observation">Observation</span></dt>
                <dd>
                    <span>{{quotation.observation}}</span>
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.userQuotation">User Quotation</span></dt>
                <dd>
                    {{quotation.userQuotationFirstName}}
                </dd>
                <dt><span jhiTranslate="monoApp.quotation.bandQuotations">Band Quotations</span></dt>
                <dd>
                    <div *ngIf="quotation.bandQuotationsId">
                        <a [routerLink]="['/band', quotation.bandQuotationsId, 'view']">{{quotation.bandQuotationsName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quotation', quotation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
